.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1rem 0;
}

.navbar__logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
}

.navbar__logo__title{
    color: var(--logo-text-color);
    font-size: 1.125rem;
    font-weight: 500;
}

.navbar__menu{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.navbar__menu__navegation{
    display: flex;
}

.navbar__menu__navegation__item{
    padding: 2em 1em;
}

.navbar__menu__navegation__item__link{
    color: var(--gray-text-color);
    font-weight: 500;
    
    margin-right: 2rem;
    text-decoration: none;
}

.navbar__menu__navegation__item__link:hover{
    color: var(--black-text-color);
    font-size: 1.125rem;
    font-weight: 700;
}

.navbar__container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar__container__link{
    padding: 0.8rem 1rem;
    text-decoration: none;
}

.sign-in{
    color: var(--gray-text-color);
    font-weight: 500;
}

.sign-in:hover{
    border: 0.08rem solid var(--input-border);
    border-radius: 0.5rem;
    color: var(--black-text-color);
    font-size: 1.125rem;
    font-weight: 700;
}

.sign-up{
    background-color: var(--darkred);
    border-radius: 0.5rem;
    color: var(--white);
    font-weight: 500;
}

.sign-up:hover{
    background-color: #83248F;
    font-size: 1.125rem;
    font-weight: 700;
}
